<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org"
      th:replace="layout/base :: html(pageTitle='CaesarCoin - Cadastro de Conta', contentFragment=~{:: content})">

<div th:fragment="content">
    <h1 class="mb-3">Cadastro de conta</h1>

    <form th:action="@{/accounts}" method="POST" th:object="${account}">
        <input type="hidden" th:field="*{id}" />

        <label for="account">Número</label>
        <input type="text" th:field="*{number}" /><br /><br />

        <label for="accountowner">Correntista</label>
        <input type="text" th:value="${account.accountOwner.name}" readonly />

        <br /><br />

        <label for="type">Tipo</label>
        <select th:field="*{type}" id="typeSelect" onchange="toggleDateField()">
            <option value="">Selecione o tipo</option>
            <option value="CARTAO">CARTAO</option>
            <option value="CORRENTE">CORRENTE</option>
        </select><br /><br />
        
        <div id="dateField" style="display: none;">
            <label for="data">Data</label>
            <input type="date" th:field="*{dueDate}" /><br /><br />
        </div>
        
        <label for="description">Descrição</label>
       <input type="text" th:field="*{description}"><br /><br />

        <hr>

        <button type="submit">Salvar</button>
        <a th:href="@{/accounts}">Cancelar</a>
    </form>

    <script>
        function toggleDateField() {
            const typeSelect = document.getElementById('typeSelect');
            const dateField = document.getElementById('dateField');
            
            if (typeSelect.value === 'CARTAO') {
                dateField.style.display = 'block';
            } else {
                dateField.style.display = 'none';
            }
        }
        
        // Verifica o valor inicial quando a página carrega
        document.addEventListener('DOMContentLoaded', function() {
            toggleDateField();
        });
    </script>
</div>

</html>