<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org"
      th:replace="layout/base :: html(pageTitle='CaesarCoin - Contas Cadastradas', contentFragment=~{:: content})">

<div th:fragment="content">
    <h1>Contas Cadastradas</h1>
    <hr />

    <form th:action="@{/accounts/form}" method="GET">
        <button class="btn btn-primary" type="submit">Nova</button>
    </form>
    <br />

    <div th:text="${message}" style="color: red"></div>

    <table border="1">
        <thead>
            <tr>
                <th>Número</th>
                <th>Descrição</th>
                <th style="text-align: center;">Dia Fechamento</th>
                <th>Tipo</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="account : ${accounts}">
                <td><a th:href="@{/accounts/{id}(id=${account.id})}" th:text="${account.number}"></a></td>
                <td><a th:text="${account.description}"></a></td>
                <td th:text="${account.type == 'CARTAO' ? #temporals.format(account.dueDate, 'dd/MM/yyyy') : '--/--'}" style="text-align: center;" />
                <td><a th:text="${account.type}"></a></td>
            </tr>
        </tbody>
    </table>
</div>

</html>