<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org"
      th:replace="layout/base :: html(pageTitle='CaesarCoin - Cadastro de Correntista', contentFragment=~{:: content})">

<div th:fragment="content">
    <h1>Cadastro de Correntista</h1>

    <form th:action="@{/accountowners}" method="POST" th:object="${accountowner}">
        <input type="hidden" th:field="*{id}" />
        Nome: <input type="text" th:field="*{name}"> <br><br>
        Email: <input type="text" th:field="*{email}"><br><br>
        Senha: <input type="password" th:field="*{password}"><br><br>
        Admin? <input type="checkbox" th:field="*{admin}"><br><br>
        <input type="submit" value="Salvar">
        <a th:href="@{/accountowners}">Cancelar</a>
    </form>
</div>

</html>